.app{
    position: relative;
    overflow-x: clip;
}

.app>:nth-child(1){
    background: var(--black);
    position: relative;
}

.white-gradient{
    position: absolute;
    width: 20rem; height: 20rem;
    background: rgb(140 139 139);
    opacity: 0.6;
    filter: blur(100px);
    border-radius: 100px;
}